<div class="alert alert-danger" role="alert">
    This is a danger alert—check it out!
  </div>
 Username: <input type="text"  [(ngModel)] = "Noname" > <br> <br>

 Password: <input type="text"  [(ngModel)] = "MyPass"> <br> <br>

  <button class="btn btn-primary" [disabled]  = "Noname === ''" (click) = MyFunc()  >Push Me</button>

  <p>{{Noname}}</p>

  <p>{{MyPass}}</p>

  <p>{{allowNewServer}}</p>

  <p [ngStyle] = "{backgroundColor: getColor()}">{{serverstats}}</p>

  <p *ngIf = "serverCreated; else noserver">{{servercreationstatus}}</p>

  <ng-template #noserver>
<p>Nothing bro</p>
  </ng-template>
